{{#if formSubmitted}}
  {{loading-spinner}}
{{else}}

  {{#if cancel}}
    <button
      {{action 'cancel' target='view.parentView'}}
      class="button-secondary"
      type="reset"
    >
      {{cancelText}}
    </button>
  {{/if}}

  {{#if submit}}
    <button class="button-primary" type="submit">
      <span class="icon-check"></span>
      <span class="text">{{submitText}}</span>
    </button>
  {{/if}}

{{/if}}
