{{#if formIsSubmitted}}
  Submitting...
{{else}}

  {{#if cancel}}
    <button
      {{action 'cancel'}}
      class="button-secondary"
      data-test="button-secondary"
      type="reset"
    >
      {{cancelText}}
    </button>
  {{/if}}

  {{#if destroy}}
    <button
      {{action 'destroy'}}
      class="button-secondary"
      data-test="button-destroy"
      type="button"
    >
      <span class="icon-delete"></span>
      <span class="text">{{destroyText}}</span>
    </button>
  {{/if}}

  {{#if submit}}
    <button
      {{action 'submit'}}
      class="button-primary"
      data-test="button-primary"
      type="submit"
    >
      <span class="icon-check"></span>
      <span class="text">{{submitText}}</span>
    </button>
  {{/if}}

{{/if}}
