{{#if formIsSubmitted}}
  {{loading-spinner}}
{{else}}

  {{#if cancel}}
    <button
      {{action 'cancel'}}
      class="button-secondary"
      type="reset"
    >
      {{cancelText}}
    </button>
  {{/if}}

  {{#if submit}}
    <button
      {{action 'submit'}}
      class="button-primary"
      type="submit"
    >
      <span class="icon-check"></span>
      <span class="text">{{submitText}}</span>
    </button>
  {{/if}}

{{/if}}
